<div class="container-fluid">
  <div class="row">
    <div id="purple bar" class="col-lg-3 col-md-3 col-sm-6"></div>
    <div id="orange bar" class="col-lg-3 col-md-3 col-sm-6"></div>
    <div id="blue bar" class="col-lg-3 col-md-3 col-sm-6"></div>
    <div id="green bar" class="col-lg-3 col-md-3 col-sm-6"></div>
  </div>
</div>
